In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from imblearn.under_sampling import RandomUnderSampler

In [12]:
df = pd.read_csv('D:\\SensViz\\Machine Learning Task 5\\train.csv')

In [13]:
df.shape

(8693, 14)

In [14]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [15]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(6606, 14)

In [18]:
# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

In [19]:
df['Transported'] = label_encoder.fit_transform(df['Transported'])

In [20]:
df['VIP'] = label_encoder.fit_transform(df['VIP'])

In [21]:
df['CryoSleep'] = label_encoder.fit_transform(df['CryoSleep'])

In [22]:
df["HomePlanet"] = df["HomePlanet"].str.lower().str.replace(' ', '')

In [23]:
df = df.drop('Name', axis=1)

In [24]:
# Fit and transform the column to numeric values
df['HomePlanet'] = label_encoder.fit_transform(df['HomePlanet'])

In [25]:
# conver passenger id column into the float 64

df['PassengerId'] = df['PassengerId'].str.replace('_', '').astype(float)

In [26]:
df['Cabin'] = df['Cabin'].str.replace('[0-9/]', '', regex=True)
df['Cabin'] = label_encoder.fit_transform(df['Cabin'])

In [27]:
df['Destination'] = df['Destination'].str.replace('[0-9/-]', '', regex=True)
df['Destination'] = label_encoder.fit_transform(df['Destination'])

In [28]:
df.dropna(inplace=True)

In [29]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,101.0,1,0,2,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,201.0,0,0,11,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,301.0,1,0,1,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,302.0,1,0,1,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,401.0,0,0,11,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [30]:
df['PassengerId'] = df['PassengerId'].astype('float64')
df['HomePlanet'] = df['HomePlanet'].astype('float64')
df['CryoSleep'] = df['CryoSleep'].astype('float64')
df['Destination'] = df['Destination'].astype('float64')
df['VIP'] = df['VIP'].astype('float64')
df['Cabin'] = df['Cabin'].astype('float64')
df['Transported'] = df['Transported'].astype('float64')

In [31]:
df.dtypes

PassengerId     float64
HomePlanet      float64
CryoSleep       float64
Cabin           float64
Destination     float64
Age             float64
VIP             float64
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported     float64
dtype: object

In [35]:
X = df.drop(['Transported'], axis=1)  # Features (all columns except 'Transported')
Y = df['Transported']  # Target variable

In [36]:
print(X.shape)
print(Y.shape)

(6606, 12)
(6606,)

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,random_state=42)

In [38]:
model = LinearRegression()

In [39]:
model.fit(X_train, Y_train)

LinearRegression()

In [40]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [41]:
# Print the predicted values
print(y_pred)

[0.93104779 0.81512115 0.62856857 ... 0.83181313 0.99934328 0.4063911 ]

In [42]:

train_accuracy = model.score(X_train, Y_train)
print(train_accuracy)

0.34213903485965647

In [43]:
test_accuracy = model.score(X_test, Y_test)
print(test_accuracy)

0.3492158982959993

In [44]:
t_df = pd.read_csv('D:\\SensViz\\Machine Learning Task 5\\test.csv')

In [45]:
t_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [46]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,101.0,1.0,0.0,2.0,2.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201.0,0.0,0.0,11.0,2.0,24.0,0.0,109.0,9.0,25.0,549.0,44.0,1.0
2,301.0,1.0,0.0,1.0,2.0,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,0.0
3,302.0,1.0,0.0,1.0,2.0,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,0.0
4,401.0,0.0,0.0,11.0,2.0,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1.0

In [47]:
t_df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [48]:
t_df.dropna(inplace=True)

In [49]:
t_df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

In [50]:
t_df = t_df.drop('Name', axis=1)

In [51]:
t_df['VIP'] = label_encoder.fit_transform(t_df['VIP'])

In [52]:
t_df['CryoSleep'] = label_encoder.fit_transform(t_df['CryoSleep'])

In [53]:
t_df["HomePlanet"] = t_df["HomePlanet"].str.lower().str.replace(' ', '')
t_df['HomePlanet'] = label_encoder.fit_transform(t_df['HomePlanet'])

In [54]:
t_df['Destination'] = t_df['Destination'].str.replace('[0-9/-]', '', regex=True)
t_df['Destination'] = label_encoder.fit_transform(t_df['Destination'])

In [55]:
t_df['PassengerId'] = t_df['PassengerId'].str.replace('_', '').astype(float)

In [56]:
t_df['Cabin'] = t_df['Cabin'].str.replace('[0-9/]', '', regex=True)
t_df['Cabin'] = label_encoder.fit_transform(t_df['Cabin'])

In [57]:
t_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1301.0,0,1,13,2,27.0,0,0.0,0.0,0.0,0.0,0.0
1,1801.0,0,0,11,2,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,1901.0,1,1,5,0,31.0,0,0.0,0.0,0.0,0.0,0.0
3,2101.0,1,0,5,2,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,2301.0,0,0,11,2,20.0,0,10.0,0.0,635.0,0.0,0.0

In [58]:
t_df['PassengerId'] = t_df['PassengerId'].astype('float64')
t_df['HomePlanet'] = t_df['HomePlanet'].astype('float64')
t_df['CryoSleep'] = t_df['CryoSleep'].astype('float64')
t_df['Destination'] = t_df['Destination'].astype('float64')
t_df['VIP'] = t_df['VIP'].astype('float64')
t_df['Cabin'] = t_df['Cabin'].astype('float64')

In [59]:

yPred = model.predict(t_df)
print(yPred)

[0.67672585 0.0850387  0.93745158 ... 0.34235053 0.68701435 0.7103587 ]

In [60]:
accuracy = (t_df,yPred)

In [61]:
print(y_pred)

[0.93104779 0.81512115 0.62856857 ... 0.83181313 0.99934328 0.4063911 ]